body {
    header {
        background: url('../assets/headerBackground.jpg');
        background-size: cover;
        background-attachment: fixed;
        font-family: $montserrat;
        h1 {
            margin: auto;
            width: 40%;
            padding-bottom: 5vh;
        }
        p {
            padding-bottom: 3vh;
            font-family: $roboto;
            font-weight: 100 !important;
        }
        .hero-body {
            .button {
                background-color: $pink;
                border-color: $pink;
            }
        }
    }
    .section {
        .container {
            max-width: 77%;
            h2 {
                font-family: $montserrat !important;
                margin-bottom: 2em;
            }
            h3 {
                font-family: $montserrat !important;
                padding: 1em;
                margin: 0 !important;
            }
            .image {
                margin: auto;
                position: relative;
                .backg {
                    position: absolute;
                    right: 0;
                    bottom: 5%;
                    width: 25%;
                    height: 25%;
                    background-color: $pink;
                    border-radius: 50%;
                    .ovr-img {
                        position: absolute;
                        right: 20%;
                        bottom: 17%;
                        width: 20px;
                        height: 20px;
                        color: white !important;
                    }
                }
            }
            p {
                font-family: $roboto;
                font-weight: 100 !important;
                color: $grey;
                font-size: 0.9em;
            }
            .column {
                padding: 0 !important;
                margin: 1em 0.5em !important;
            }
            .button {
                color: $pink;
                border-color: $pink;
                border-width: 2px;
                display: block;
                margin: auto;
                font-family: $montserrat;
                font-weight: 500 !important;
                font-size: 0.9em;
            }
        }
    }
}