// Declaring all global variables

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400|Montserrat:500,700');

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

// Colors
$pink: #FF4E50;
$green: #18D4CA;
$orange: #FFA710;
$purple: #667DF3;
$darkGrey: #444444;
$grey: #666666;